
.account{
display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 height:100%;
 padding:2rem 0;
}



.ant-modal-content{
-webkit-border-radius: 40px 40px 40px 40px;
-moz-border-radius: 40px 40px 40px 40px;
border-radius: 40px 40px 40px 40px;

}

.continue-btn{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
}


.darpan{
    color:#001529;
   letter-spacing: 1px;
   color:#1767DD;
   font-weight: bolder;
}




.sider{
    background-color:#2874f0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    height:400px;
}

.sider-info{
    font-family: 'Courier New', Courier, monospace;
    /* left:4px; */
    font-size: 16px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:90%;
    margin-left:12px;
    padding:0 2rem;
    font-weight:bold;
}

.content{
   /* border:2px solid blue; */
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-size:medium;

}



.content-agreement{
    display:flex;
    flex-direction: column;
    padding:0 2%;
    gap:5px;
}

.content-agreement > p{
   font-weight: 600;
  text-align: center;
}


.content-login{
    background-color: #fb641b;
    color:white;
    font-family: inherit;
    font-size: 15px;
}

.content-login:hover{
   background-color: #001529;
   color:white;
}


/************************************ Signup ***************************************/






/*********************************** LOGIN********************************************/
.welcome-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
   
}

.login-header{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    /* border:2px solid red; */
}



.avatar{
    width:10%;
}


.Login{
   display:flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
    margin-top:40px;
    width:30%;
    /* border:5px solid purple */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}



.login-form{
    /* width:90%; */
    /* left:17px; */
     /* border:2px solid green; */
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}





.login-form-btn{
    display:flex;
    justify-content: center;
}

.login-form-button{
    width:100%;
} 


.social-media-icons{
    height:60px;
    padding:5px 0;
    display:flex;
   justify-content: center;
    align-items: center;
}



.space{
    bottom:0;
    position:absolute;
}

@media screen and (max-width: 600px){
.account{
    /* width:60rem;
    height:60rem; */
    /* height:100%;
    width:100%; */
  height:100%;
}

 .content-login{
     position: relative;
     left:0;
 }
.ant-modal-content{
    width:40rem;
    left:-60px;
}


.Login{
    width:100%;
    gap:2rem;
}

.login-form{
    width:100%;
   
}


.signup{
    display:flex;
    justify-content: center;
    align-items: center;
}
.ant-modal-content{
    width:100%;
    left:1px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}


.content{
    font-size:3.5vw;
 }

.content > h3{
    text-align: center;
    
}


}