/* .account{
    top:-80px;
    width:85%;
    margin:100px;
    height:500px;
    display:flex;
    place-content: center;
    position:relative;
    border:2px solid red;
} */


.account{
display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 height:100%;
 padding:2rem 0;
}



.ant-modal-content{
-webkit-border-radius: 40px 40px 40px 40px;
-moz-border-radius: 40px 40px 40px 40px;
border-radius: 40px 40px 40px 40px;

}

.continue-btn{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
}

.header{
    height:400px;
    width:100%;
    color:#fff;
    font-size:15px;
}

.sider{
    background-color:#2874f0;
    height:400px;
    width:100%;
    color:#fff;
    font-size:15px;
}

.sider-info{
    top:30px;
    position:relative;
    font-family: 'Courier New', Courier, monospace;
    left:4px;
    font-size: 16px;
}

.content{
    margin:2px;
    top:5px;
    position:relative;
}

.content-data{
    color:gray;
    font-weight: lighter;
    left:40px;
    position:relative;
}

.content-inputfield{
    width:70%;
    left:30px;
}

.content-agreement{
    top:20px;
    position:relative;
    height:150px;
}

.content-agreement > p{
    left:6px;
    position:relative;
}

.content-login{
    left:60px;
    background-color: #fb641b;
    color:white;
    font-family: inherit;
    font-size: 15px;
}
.content-login:hover{
   background-color: black;
}


/************************************ Signup ***************************************/
/* .signup{
    left:157px;
    position:relative;
} */





/*********************************** LOGIN********************************************/
.welcome-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    /* font-weight:700; */
    /* left:29px; */
    /* position:relative; */
}

/* .login-header{
    height:115px;
    display: flex;
    place-content: center;
    border:2px solid red;
} */


.login-header{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    /* border:2px solid red; */
}




.avatar{
    /* height:50px;
    top:70px;
    left:-50px;
    position:relative; */
}

.avatar{
    width:10%;
}




/* .Login{
    top:50px;
    height:500px;
    width:350px;
    left:-110px;
    position:relative;
   -webkit-box-shadow: 3px 3px 15px 5px #B3B3B3; 
    box-shadow: 3px 3px 15px 5px #B3B3B3;
    -webkit-border-radius: 40px 40px 40px 40px;
   -moz-border-radius: 40px 40px 40px 40px;
   border-radius: 40px 40px 40px 40px;
    
} */


.Login{
   display:flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
    margin-top:40px;
    width:30%;
    /* border:5px solid purple */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}



/* .login-form{
    width:90%;
    left:17px;
    bottom:70px;
    position:absolute;
    border:2px solid yellow;
} */



.login-form{
    /* width:90%; */
    /* left:17px; */
     /* border:2px solid green; */
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}





.login-form-btn{
    display:flex;
    justify-content: center;
}

.login-form-button{
    width:100%;
} 


.social-media-icons{
    height:60px;
    padding:5px 0;
    display:flex;
   justify-content: center;
    align-items: center;
    /* bottom:-25px; */
    /* position:relative; */
    /* border:2px solid red; */
}



.space{
    bottom:0;
    position:absolute;
}

@media screen and (max-width: 600px){
.account{
    /* width:60rem;
    height:60rem; */
    /* height:100%;
    width:100%; */
  height:100%;
}

/* .welcome-text{
   height:25px;
 } */

 /* .avatar{
     left:-60px;
 } */

 .content-login{
     position: relative;
     left:0;
 }
.ant-modal-content{
    width:40rem;
    left:-60px;
}


.Login{
    width:100%;
    gap:2rem;
}

.login-form{
    width:100%;
   
}

/* .Login{
    width:100%;
} */

}