.categories{
    display: flex;
    justify-content: center;
    /* justify-content:space-around;
    align-items: center; */
    /* padding:5px; */
    /* height:50px; */
    background-color: black;
 

}

.totalitems{
    color:gray;
    text-align: center;
    top:20px;
    position:relative;
}

.cat-links{
    height:30px;
    display: flex;
    gap:1.5vw;
  align-items: center;
   justify-content: center;
    border:2px solid red;
    /* align-items: center; */
    /* background-color: blue;   */
    }

.cat-links a{
    text-transform:uppercase;
    text-decoration: none;
    color:white;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

.cat-links a:hover{
      color: orange;
      }


/****************************** electronics **********************/

/* .electronics{
    margin-top: -20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
} */


.electronics{
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap:6rem;
}

/* .electronic{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.electronic{
  margin-top:22px;
/* border:2px solid rgb(98, 0, 255); */
display:flex;
flex-direction: column;
justify-content: center;
margin-bottom:22px;
}

  .electronic img {
    width: 150px;
    
  }
  
  .electronic .description {
    text-align: center;
  }
  
  .electronic:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
   
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  } 

/******************  home and living ********************/
.homeandliving{
  /* margin-top: -20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center; */

  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:6rem;
  
}


.homeandliv{
  /* border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top:22px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:22px;
}


.homeandliv img {
  width: 150px;
  
}

.homeandliv .description {
  text-align: center;
}

.homeandliv:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

/**************************** Mens fashion **********************************/
.mens{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:6rem;

}

.men{
  /* border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top:22px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:22px;
}


.men img {
  width: 150px;
  
}

.men .description {
  text-align: center;
}

.men:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

/************************************* sports*******************************/
.sports{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:6rem;
}


.sport{
  margin-top:22px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:22px;
}


.sport img {
  width: 150px;
  
}

.sport .description {
  text-align: center;
}

.sport:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

/*************************** Women's fashion *************************/
.womens{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:6rem;
}

.women{
  margin-top:22px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:22px;
}


.women img {
  width: 150px;
  
}

.women .description {
  text-align: center;
}

.women:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

/**************************** Top brands************************/
.topbrands{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:6rem;
}


.topbrand{
  margin-top:22px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:22px;
}

.topbrand img {
  width: 150px;
  
}

.topbrand .description {
  text-align: center;
}

.topbrand:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}




/* LOADER */
.loader{
  position: relative;
  left:450px;
  background-color: blue;
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* LOADER  ENDS*/



/***** only for Testing ******/
.test{
  margin-top: -20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns : 1fr 1fr 1fr 1fr ;
  place-items: center;
  border:2px solid red;
}

.test2{
    width: 300px;
    height: 200px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid blue;
}

.test2 img{
  width:100px
}
/****** only for Testing ******/


/************************************************************************/
@media screen and (max-width: 720px){
  /* .categories{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:5px;
    height:50px;
    width:69.5rem;
  }


  .totalitems{
    text-align: center;
    position:relative;
    margin-left:34rem;
    width:5rem;
  }

  .electronics{
     width:70rem;
  }

  .homeandliving{
    width:70rem;
  }

  .mens{
    width:70rem;
  }

  .sports{
    width:70rem;
  }

 .topbrands{
  width:70rem;
  }

  .womens{
    width:70rem;
  }

 
 .footer{
    margin-top: 100rem;
    position:relative;
  } */
 
}

@media(max-width:600px){
  .categories{
    width:100%;
    height:10%;
    display:flex;
    justify-content: space-between;
  }

  .cat-links{
    height:1%;
    gap:6px;
  flex-wrap: wrap;
  border:2px solid black;
  }

  .cat-links a{
    color:#dadada
  }









  .electronics{
    width:100%;
    height:100%;
    display:flex;
    /* flex-direction: column; */
    gap:2rem;
    position: relative;
  }

 .electronic{
  margin-top:20px;
  display:flex;
  flex-direction: column;
 }
   
}

