.shop{
  display:flex;
  flex-direction: column;
  /* background-color: #f85606; */
  /* border:2px solid red; */

 }
 
 .shoploader{
  margin-top:120px;
  /* left:650px; */
  margin-left: 650px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: relative;
 }


 @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
 .products {
    /* margin-top: -20px;
    width: 100%;
    width:auto;
    height: auto;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr ;
    place-items: center;
    background-color: #f1f3f6; */
   }

  



 
  
 
  
  
 

  /************************************ Maincarousel *******************************/
  .main-carousel{
  display:flex;
  flex-direction: column;
  width:100%;
  }
 
 
  .first-carousel,.second-carousel,.third-carousel,.fourth-carousel,.fifth,.sixth-carousel,
  .seventh-carousel,.eighth-carousel{
    /* width: 500px;
    height: 470px; */
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  }

  .first-carousel-img,.second-carousel-img,.third-carousel-img,.fourth-carousel-img,
  .fifth-carousel-img,.sixth-carousel-img,.seventh-carousel-img,.eighth-carousel-img{
     /* height:470px; */
    width:100%;
    object-fit:cover;
   }

 /********************************** banners ************************************/

.banners{
  margin-top: 30px;
  /* margin-bottom: 70px; */
   margin-bottom: 10px;
}




   /********************************* topdeals ***********************************/
  
 .topdeals{
 top:-20px;
 position:relative;
 width: auto;
 height: auto;
 display: grid;
 /* grid-template-columns : 1fr 1fr 1fr 1fr 1fr ; */
 grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 place-content: center;
 grid-template-rows: auto;
 gap:3px;
/* display:flex;
flex-wrap: wrap;
border:2px solid red;
justify-content: space-around; */

 }

.topdeals-item{
/* left:25px;
height:auto;
padding:10px;
width: 200px;
margin: 9px;
position:relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
-webkit-box-shadow: 3px 3px 15px 5px #B3B3B3; 
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
border:2px solid blue; */



display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:2px;
/* border:2px solid red; */

}

.topdeals-item:hover{
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 15px 5px #B3B3B3; 
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0 15px rgba(0, 0, 0, 0.2), 3px 0 15px rgba(0, 0, 0, 0.2);
 
}



.topdeals-item img{
  width:100px;
  height:100px;

}
.topdeals-item img:hover{
  /* transform: scale(1.1);
  transition: transform 0.3s ease; */
  cursor:pointer;
 
}
  
.topdeals-title{
  top:-5px;
 }

.topdeals-title{
  /* top:20px; */
  position:relative;
  font-family: Roboto-Regular;
  font-size: 22px;
  font-weight: bold;
  color: #424242;
  margin-left:10px;
  position:relative;
 }

 .shopmore{
  top:-45px;
  /* left:90%; */
  position:relative;
  display:flex;
  justify-content: flex-end;
 /* border:2px solid red; */
 
}

.shop-btn{
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #f85606;
    border-radius: 2px;
    background-color: transparent;
    line-height: 35px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 11px;
    margin-top: 13px;
    cursor: pointer;
  }

  .shop-btn:hover{
    background-color:#f85606;
    color:white;
  }

 

/**************************** winter essentials ***********************************/
.winter{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns : 1fr 1fr 1fr 1fr 1fr ;
  place-content: center;
  /* newly added */
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* border:2px solid red; */
  margin-bottom:30px;
 }

 .winter-item{
  /* left:25px;
  width: 200px;
  height:auto;
  margin: 9px;
  padding:10px;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 15px 5px #B3B3B3; 
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
  display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
-webkit-box-shadow: 3px 3px 15px 5px #B3B3B3; 
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
margin:9px;
padding:9px;
/* border:2px solid red; */

  }
  

  .winter-item img{
    width:100px;
    height:100px;
  }
    
  
  .winter-title{
   position: relative;
    top:25px;
    font-family: Roboto-Regular;
    font-size: 22px;
    font-weight: bold;
    color: #424242;
    margin-left:10px;
   }





  
 .winter-shopmore{
  top:-15px;
  /* left:90%; */
  position:relative;
  display:flex;
  justify-content: flex-end;
 }
  
  .shop-btn{
    font-weight: 500;
      font-size: 14px;
      border: 1px solid #f85606;
      border-radius: 2px;
      background-color: transparent;
      line-height: 35px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 11px;
      margin-top: 13px;
      cursor: pointer;
  }

  /*********************************** Services ************************************/
  .services-card{
    /* margin-top: 50px;
    height:auto;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr  ;
    place-items:center;
    justify-items: center;
    align-items: center; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    border:2px solid red;
  }

  .service-title{
    /* top:-60px;
    left:200%;
    position: relative; */
    font-family: Roboto-Regular;
    /* font-size: 25px; */
    font-weight: bold;
    color: #424242;
  
   }

  /* .services img{
    width:150px;
  } */

  .service-img{
    /* width:200%;
    display:flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 40%; */
 
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border:2px solid blue;
  }

  .service-img img{
    border:2px solid green;
    margin:10px;
  }

  /*************************************************************************/
  
  @media(max-width:664px){

.service-img img{
    /* margin:40px; */
}
  }





  @media screen and (max-width: 600px){
    /* .shop{
       margin-right:-706px;
      position:relative;
    
    }

 

    .winter-item{
      position:relative;
      left:8px;
    } */


    .shoploader{
      margin-left:165px;
      position: absolute;
    }


    /* main carousel */
    .main-carousel{
      display:flex;
      flex-direction: column;
      width:100%;
       }
      
      
       .first-carousel,.second-carousel,.third-carousel,.fourth-carousel,.fifth,.sixth-carousel,
       .seventh-carousel,.eighth-carousel{
         /* width: 500px;
         height: 470px; */
       display:flex;
       flex-direction: column;
       flex-wrap: wrap;
       width:100%;
       }



    .first-carousel-img,.second-carousel-img,.third-carousel-img,.fourth-carousel-img,
    .fifth-carousel-img,.sixth-carousel-img,.seventh-carousel-img,.eighth-carousel-img{
      object-fit:cover;
      /* height:470px; */
      width:100%;
     }
   
/* 
top deals */

.topdeals{
  gap:4.5px;
 }

.topdeals-item{
  display: flex;
  flex-direction: column;
 } 



 /* winter */
 .winter{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns : 1fr 1fr 1fr 1fr 1fr ;
  place-content: center;
  /* newly added */
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
 }



 /* services */

 .service-img{
  width:90%;
  gap:20px;
 }

  }

 .red{
  color:red;
 }