body{
    background-color: #EFF0F5;
}

.single-pg-img{
    height:70vh;
    /* border:2px solid gray; */
}

.product-single-page{
    /* border:2px solid blue; */
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    margin:30px;
   
}

.desc-product-single-page{
    /* border:2px solid yellow; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
}