body{
    background-color: #EFF0F5;
}

.single-pg-img{
    height:60vh;
    border:2px solid red;
}

.product-single-page{
    border:2px solid blue;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    margin:30px;
}

.desc-product-single-page{
    border:2px solid yellow;
    display:flex;
    flex-direction: column;
}