.search-Results{
    border:2px solid red;
    display:flex;
    justify-content: flex-start;
}

.searched-img{
    height:150px;
}


.search-product-list{
    border:2px solid blue;
    display:flex;
    flex-direction: column;
    width:50%;
    /* justify-content: center;
    align-items: center; */
}

.search-product{
    border:2px solid green;
    max-width: 100%;
    display:flex;
    /* justify-content: center; */
    align-items: center;
}

.search-description{
    display:flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:720px){
    .search-product-list{
        flex-direction: column;
    }
}