.search-Results{
    display:flex;
    flex-direction: column;
  }

.searched-img{
    height:150px;
}


.search-product-list{
    display:flex;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
}





@media(max-width:720px){
    .search-Results{
        flex-direction: column;
    }
}